{%- assign collection = collections[section.settings.collection] -%}
{%- assign max_products = section.settings.product_rows_int | times: section.settings.products_per_row_int -%}

<div class="spaced-section" data-section-type="featured-collection">
  <div class="container section-content">
    {%- if section.settings.title != blank -%}
      <h2 class="section-heading align-center" data-cc-animate>
        {{ section.settings.title | link_to: collection.url }}
      </h2>
    {%- endif -%}

    <div class="grid grid--row-gutters product-list">
      {%- unless section.settings.collection == blank -%}
        {%- liquid
          if settings.prod_card_image_ratio == 'shortest'
            assign aspect_ratio = 0
            for product in collection.products limit: max_products
              if product.featured_media.preview_image.aspect_ratio > aspect_ratio
                assign aspect_ratio = product.featured_media.preview_image.aspect_ratio
              endif
            endfor
          elsif settings.prod_card_image_ratio == 'tallest'
            assign aspect_ratio = 99
            for product in collection.products limit: max_products
              if product.featured_media.preview_image.aspect_ratio < aspect_ratio
                assign aspect_ratio = product.featured_media.preview_image.aspect_ratio
              endif
            endfor
          else
            assign aspect_ratio = settings.prod_card_image_ratio
          endif
        -%}
        {%- for product in collection.products limit: max_products -%}
          {%- comment -%}Alejandr Custom Modfication:{%- endcomment -%}
          {% render 'product-card',
            product: product,
            aspect_ratio: aspect_ratio,
            grid_show_vendor: section.settings.grid_show_vendor,
            items_per_row: section.settings.products_per_row_int,
            animate: forloop.index,
            product_card_title_alignment: section.settings.mycustom_product_title_alignment,
            product_card_title_font_color: section.settings.mycustom_product_title_font_color,
            product_card_title_font_size: section.settings.mycustom_product_title_font_size,
            product_card_price_alignment: section.settings.mycustom_product_price_alignment
          %}
        {%- endfor -%}
      {%- else -%}
        {%- for product in (1..max_products) -%}
          {% render 'onboarding-card',
            aspect_ratio: aspect_ratio,
            items_per_row: section.settings.products_per_row_int,
            is_product: true
          %}
        {%- endfor -%}
      {%- endunless -%}
    </div>

    {%- if section.settings.show_view_all -%}
      <div class="section-footer align-center" data-cc-animate data-cc-animate-delay="0.2s">
        <a class="button button--alt" href="{{ collection.url }}">{{ 'collections.general.view_all' | t }}</a>
      </div>
    {%- endif -%}
  </div>
</div>
{%- comment -%}Alejandro Custom modification:{%- endcomment -%}
{% schema %}

{
  "name": "Featured collection",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    }, {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }, {
      "type": "checkbox",
      "id": "grid_show_vendor",
      "label": "Show product vendor",
      "default": false
    }, {
      "type": "range",
      "id": "products_per_row_int",
      "min": 2,
      "max": 5,
      "step": 1,
      "label": "Products per row",
      "default": 4
    }, {
      "type": "range",
      "id": "product_rows_int",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Rows",
      "default": 1
    }, {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' link",
      "default": false
    }, {
      "type": "select",
      "id": "mycustom_product_title_alignment",
      "label": "Product card title position",
      "options": [
        {
          "value": "start",
          "label": "Rigth"
        }, {
          "value": "center",
          "label": "Center"
        }, {
          "value": "end",
          "label": "Left"
        }
      ],
      "default": "start"
    }, {
      "type": "range",
      "id": "mycustom_product_title_font_size",
      "label": "Title size",
      "unit": "rem",
      "min": 1,
      "max": 10,
      "step": 0.1,
      "default": 2.5
    }, {
      "type": "color",
      "id": "mycustom_product_title_font_color",
      "label": "Title color",
      "default": "#D79E93"
    }, {
      "type": "select",
      "id": "mycustom_product_price_alignment",
      "label": "Product card price position",
      "options": [
        {
          "value": "start",
          "label": "Rigth"
        }, {
          "value": "center",
          "label": "Center"
        }, {
          "value": "end",
          "label": "Left"
        }
      ],
      "default": "start"
    }
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ]
}

{% endschema %}
